.gallery-elements{
    margin: 0;

    display: block;
    padding: 0;
    list-style: none;
}

.gallery-elements li{
    display: block;

    text-align: center;
    margin-bottom: 20px;
    color: #00558A;
}

.gallery-elements li a {
    color: #00558A;
}

.gallery-elements figure{

}

.gallery-elements figure img{   
    border: 2px solid #BC6832;  box-shadow: 0px 0px 5px #BC6832; 
    width: 100%;
}

.gallery-elements figcaption{
    line-height: 1.5em;
  

}

@media (min-width: 380px){
    .gallery-elements{
        width: 340px;
        margin: 0 auto;

        overflow: hidden;
    }

    .gallery-elements li{


        margin-bottom: 20px;
        display: inline-block;
        vertical-align: top;
    }

    .gallery-elements li:nth-child(2n+1){
        margin-right: 16px;
    }

    .gallery-elements figure img{
        width: 156px;
    }
}

@media (min-width: 400px){
    .gallery-elements{
        width: 350px;
    }
    .gallery-elements li{
        margin-bottom: 30px;
    }
    .gallery-elements li:nth-child(2n+1){
        margin-right: 26px;
    }
}

@media (min-width: 540px){
    .gallery-elements{
        width: 520px;      
    }

    .gallery-elements li{
        margin-bottom: 20px;        
    }

    .gallery-elements li:nth-child(2n+1){
        margin-right: 0;
    }

    .gallery-elements li:nth-child(3n+1),
    .gallery-elements li:nth-child(3n+2){
        margin-right: 16px;
    }
}

@media (min-width: 740px){
    .gallery-elements{
        width: 700px;      
    }

    .gallery-elements li{
        margin-bottom: 20px;        
    }

    .gallery-elements li:nth-child(3n+1),
    .gallery-elements li:nth-child(3n+2){
        margin-right: 0;
    }

    .gallery-elements li:nth-child(4n+1),
    .gallery-elements li:nth-child(4n+2),
    .gallery-elements li:nth-child(4n+3){
        margin-right: 16px;
    }
}

@media (min-width: 960px){
    .gallery-elements{
        width: 880px;      
    }

    .gallery-elements li{
        margin-bottom: 20px;        
    }

    .gallery-elements li:nth-child(4n+1),
    .gallery-elements li:nth-child(4n+2),
    .gallery-elements li:nth-child(4n+3){
        margin-right: 0;
    }

    .gallery-elements li:nth-child(5n+1),
    .gallery-elements li:nth-child(5n+2),
    .gallery-elements li:nth-child(5n+3),
    .gallery-elements li:nth-child(5n+4){
        margin-right: 16px;
    }
}