.gallery-elements{
    margin: 0;

    display: block;
    padding: 0;
    list-style: none;
}

.gallery-elements li{
    display: block;

    margin-bottom: 20px;
    color: #00558A;
}

.gallery-image {
    color: #00558A;
    text-decoration: none;
}


.gallery-elements figure{

}

.gallery-elements figure img{      
    width: 100%;
}

.gallery-elements figcaption{
    line-height: 1.5em;
    padding: 6px 10px;
}

.gallery-elements figcaption span{
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    display: block;    
}

.gallery-image-title{
    margin-top: 6.25px;    
    line-height: 1.1; 
    text-rendering: optimizelegibility;
    color: #565a5c;
}
.gallery-image-details{
    color: #82888a;

    font-size: 0.9em; 
}


@media (min-width: 411px){
    .gallery-elements{
        width: 371px;
        margin: 0 auto;

        overflow: hidden;
    }

    .gallery-elements li{
        margin-bottom: 46px;
        display: inline-block;
        vertical-align: top;
     
}

    .gallery-elements li:nth-child(2n+1){
        margin-right: 46px;
    }

    .gallery-elements figure img{
        width: 160px;
    }
}
