.backlink {
    color: #8A3600;
    text-shadow: 1px 1px 2px #BC6832;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: fantasy;
}

.main-image img{
    width: 100%;
    margin-bottom: 10px;    
}

.img-with-shadow{
    outline: 1px solid #BC6832;        
    box-shadow: 0px 0px 10px 1px #BC6832;
}

.main-image .title {
    font-weight: bold;
    padding-right: 20px;
}

.other-gallery-images{
    border-top: 1px solid #fbfbfb;

    margin: 30px 0;
}

.other-gallery-images div{
    text-align: center;

}

.other-gallery-images a{
    text-decoration: none;
}

.other-gallery-images img{

    margin: 0 2%;
    max-width: 20%;
    outline: 1px solid #BC6832;
}

@media (min-width: 680px){
    .main-image{
        width: 70%;
        display: inline-block;    
        text-align: center;
        padding: 30px 0;
    }

    .main-image img{
        width: auto;   
        margin-bottom: 20px;
    }

    .main-image figcaption{
        text-align: left;
    }
    .main-image figcaption table{
    }
    .other-gallery-images{
        display: inline-block;
        border: none;  
        vertical-align: top;
        margin: 0;
        width: 29%;
        text-align: right;
    }
    .other-gallery-images p{
    margin: 0 1em 1em 0;

    }
    .other-gallery-images div{
        text-align: center;
        border: 2px solid white;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding-top: 15px;
        background-color: rgba(200,200,200,0.5);

        width: 125px;
        display: inline-block;
    }
    .other-gallery-images a{
        display: block;
    }
    .other-gallery-images img{

        width: 100px;
        max-width: none;
        box-shadow: 0px 0px 5px #BC6832;
        margin: 0 0 15px 0;
    }
}